/************** MAIN ELEMENTS ***************/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body{
	height: 100%;
    font-family: 'proxima_nova_rgregular';
	color: #454747;
	font-weight: 300;
	font-size: 16px;
}
h1{
	font-size: 2.25em;
}
h2{
	font-size: 1.8em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size: 1.2em;
}
p{
	1em;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer{
	width: 100%;
	min-height: 4em;
	padding: 40px 0px 40px;
}

.center{
	text-align: center
}

.logo_main{
	margin: 10% auto 50px;
}
.logo_main img{
	width: 80%;
	max-width: 500px;
}

.uppercase{
	text-transform: uppercase;
}
.text_wrapper{
	margin-bottom: 30px;
}

input.main_input{
	width: 90%;
	margin: 0px;
	margin-bottom: 40px;
	
	background: transparent;
	border: none;
	border-bottom: 1px solid #454747;
	border-radius: 0px;
	box-shadow: none;
	text-transform: uppercase;
	padding: 5px 5%;
	
}
input.main_input:focus{
	outline: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #454747
}
input.main_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #454747;
}
input.main_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #454747;
   opacity:  1;
}
input.main_input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #454747;
   opacity:  1;
}
input.main_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #454747;
}

button.main_button{
	padding: 12.5px 30px;
	text-transform: uppercase;
	color: white;
	background: #1a9645;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	border: none;
	outline: none !important;
}
button.main_button:hover, button.main_button:active, button.main_button:focus{
	background: #16803b;
}

#particles-js{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	pointer-events: none;
	z-index: 0;
}

#quiz_container{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1;
}
#quiz_inner{
	position: relative;
	overflow: scroll;
	
}

/*********** RESPONSIVE **********/


@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	

}

@media (max-width: 767px) {
	html, body{
		font-size: 13px;
	}
	#particles-js{
		display: none;
	}
	#quiz_inner{
		padding: 20px;
	}

}

@media (max-width: 568px) {
	
}
