/************** MAIN ELEMENTS ***************/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body{
	height: 100%;
    font-family: 'proxima_nova_rgregular';
	color: #454747;
	font-weight: 300;
	font-size: 16px;
}
h1{
	font-size: 2.25em;
    font-family: 'proxima_nova_ltsemibold';
}
h2{
	font-size: 1.8em;
    font-family: 'proxima_nova_ltsemibold';
}
h3{
	font-size: 1.5em;
    font-family: 'proxima_nova_ltsemibold';
}
h4{
	font-size: 1.2em;
    font-family: 'proxima_nova_ltsemibold';
}
p{
	1em;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
footer{
	width: 100%;
	min-height: 4em;
	padding: 40px 0px 40px;
}

.center{
	text-align: center
}

.logo_main{
	margin: 10% auto 50px;
}
.logo_main img{
	width: 80%;
	max-width: 500px;
}

.uppercase{
	text-transform: uppercase;
}
.text_wrapper{
	margin-bottom: 30px;
}
.form_container{
	margin-bottom: 30px;
}
input.main_input{
	width: 90%;
	margin: 0px;
	
	background: transparent;
	border: none;
	border-bottom: 1px solid #454747;
	border-radius: 0px;
	box-shadow: none;
	padding: 5px 5%;
	
}
input.main_input:focus{
	outline: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #454747
}
input.main_input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #454747;
	text-transform: uppercase;
}
input.main_input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #454747;
   opacity:  1;
	text-transform: uppercase;
}
input.main_input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #454747;
   opacity:  1;
	text-transform: uppercase;
}
input.main_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #454747;
	text-transform: uppercase;
}

button.main_button{
	padding: 12.5px 30px;
	text-transform: uppercase;
	color: white;
	background: #1a9645;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	border: none;
	outline: none !important;
}
button.main_button:hover, button.main_button:active, button.main_button:focus{
	background: #16803b;
}

#particles-js{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	pointer-events: none;
	z-index: 0;
}

#quiz_container{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1;
}
#quiz_inner{
	position: relative;
	overflow: scroll;
	
}

.logo_nav{
	max-width: 300px;
	width: 50%;
	margin-top: 5%;
}

.logo_nav img{
	width: 100%;
}
label.error{
	opacity: 0.7;
	padding: 2.5px 0px;
}
.form_error{
	padding: 25px 0px;
	text-align: center;
}
.quiz_error{
	padding: 10px 0px;
	text-align: center;
}
#question_wrapper{
	margin-top: 5%;
}

#question_area{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	align-items:flex-start;
	-webkit-align-items:flex-start;
	justify-content:center;
	-webkit-justify-content:center;
	flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
}

.question_item{
	flex-basis: 25%;
	-webkit-flex-basis: 25%;
	margin: 30px 3.666%
}
.question_header{
	background: #1a9645;
	color: white;
	text-align: center;
}
.question_header_inner{
	padding: 20px;
}
.question_choices{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:space-around;
	-webkit-justify-content:space-around;
	flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
}
a.question_choice_item{
	display: block;
	background: #addbbd;
	color: white;
	font-size: 1.25em;
	flex-basis: 20%;
	-webkit-flex-basis:  20%;
	text-align: center;
	text-decoration: none !important;
	
}
a.question_choice_item .question_choice_item_inner{
	padding: 10px 0px;
}
a.question_choice_item:hover,
a.question_choice_item:active,
a.question_choice_item:focus{
	background: #a3d3b3;
}
a.question_choice_item.selected{
	background: #99caaa;
}

#quiz_progress_bar.progress{
	border: 2px solid #1a9645;
	background: transparent;
	box-shadow: none;
	height: 10px;
	margin-bottom: 30px;
}
#quiz_progress_bar.progress .bar{
	background: #1a9645;
	border: none;
}

#buttons_area{
	padding: 30px 0px;
	text-align: center;
}
#buttons_area a{
	padding: 10px 40px;
	text-transform: uppercase;
	color: #1a9645;
	background: transparent;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	border: 2px solid #1a9645;
	outline: none !important;
	margin: 0px 5px;
	text-decoration: none !important;
}
#buttons_area a:hover, #buttons_area a:active, #buttons_area a:focus{
	background: #1a9645;
	color: white;
}

#progress_text_area{
	font-size: 0.85em;
	padding: 5px 0px;
	text-align: center;
}

.results_box{
	 background-color: #f0f0f0
}

.result_top{
	margin-top: 50px
}

.boxes_spacing{
	margin-left: 20px
}


/*********** RESPONSIVE **********/


@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
	#buttons_area{
		padding: 0px;
	}
	#buttons_area a{
		display: block;
		width: 100%;
		margin: 20px 0px;
		padding: 10px 0px;
	}

}

@media (max-width: 767px) {
	html, body{
		font-size: 13px;
	}
	#particles-js{
		display: none;
	}
	#quiz_inner{
		padding: 20px;
	}
	.question_item{
		flex-basis: 45%;
		-webkit-flex-basis: 45%;
		margin: 30px 2.5%
	}
	#buttons_area{
		padding: 0px;
	}
	#buttons_area a{
		display: block;
		width: 100%;
		margin: 20px 0px;
		padding: 10px 0px;
	}

}

@media (max-width: 568px) {
	
}
